<div id="dcMain">
   <!-- 当前位置 -->
    <div id="urHere">管理中心<b>></b><strong>{$columnName}</strong> </div>
    <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="{:url('Article/addArticle')}" class="actionBtn add">添加作品</a>{$columnName}</h3>
        <div id="list">
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                 <tr>
                      <th width="30" align="left">ID</th>
                      <th width="50" align="left">封面</th>
                      <th width="90" align="left">标题</th>
                      <th width="50" align="left">作者</th>
                      <th width="50" align="left">分类</th>
                      <th width="50" align="left">关键词</th>
                      <th width="50" align="left">发布者</th>
                      <th width="60" align="left">发布时间</th>
                      <th width="60" align="left">最后一次更新时间</th>
                      <th width="40" align="left">作品状态</th>
                      <th width="40" align="left">评论状态</th>
                      <th width="30" align="left">评论数</th>
                      <th width="120" align="center">操作</th>
                 </tr>
                 {volist name='articlelist' id='article'}
                 <tr>
                      <td align="left">{$article['aid']}</td>
                      <td align="left"><!--{$article['article_photo']}--></td>
                      <td align="left">{$article['article_title']}</td>
                      <td align="left">{$article['article_author']}</td>
                      <td align="left">{$article['article_comment']=1? '视频作品' : '文字作品'}</td>
                      <td align="left">{$article['article_keywords']}</td>
                      <td align="left">{$article['article_pid']}</td>
                      <td align="left">{$article['article_date']}</td>
                      <td align="left">{$article['article_date_gmt']}</td>
                      <td align="left">
                          {$article['article_status']=1? '可见' : '不可见'}
                      </td>
                      <td align="left">
                          {$article['article_comment']=1? '开启' : '不开启'}
                      </td>
                      <td align="left">
                          {$article['comment_count']}
                      </td>
                      <td align="center">
                          <a href="{:url('Article/editArticle',['aid' => $article['aid']])}" class="tab_a_link edit_btn">修改</a>
                          <a class="tab_a_link del_btn btn-danger-a" href="javascript:;" articleid="{$article['aid']}"><i class="fa fa-share-square-o">删除</i></a>
                      </td>
                 </tr>
                 {/volist}
                </table>
        </div>
        <div class="pagination-out pagination-goods">
            <div style="float: right">
                {$ArticleListData.page}
            </div>
        </div>
    </div>
 </div>
        <!--引入js-->
        <script type="text/javascript" src="__admin__/plugins/jquery-1.8.3.min.js"></script>
        <script src="__admin__/plugins/layer/layer.min.js"></script>
        <script type="text/javascript">
            $(function(){
                $('.btn-danger-a').on('click',function(){
                    var del =  confirm('确认要删除么？');
                    if (del) {
                        var userid =$(this).attr('userid');
                        $.post('{:url("Article/delArticle")}',{aid : aid}, function(data){
                           if (data.status) {
                                layer.msg(data.msg, {icon: 1,time: 1500},function(){
                                    window.location.reload();
                                });
                            }else {
                                layer.msg(data.msg,{icon : 2,time : 2000});
                            }

                        },'json');
                    }

                });
            });
        </script>
