<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后台管理中心</title>
    <meta name="Copyright" content="Douco Design." />
    <link href="__admin__/css/public.css" rel="stylesheet" type="text/css">
     <link href="__admin__/css/laydate.css" rel="stylesheet" type="text/css">
    <link href="__admin__/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  
    <!--<link href="__PLUGINS__/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <!--<link href="__PLUGINS__/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">-->
    <script type="text/javascript" src="__admin__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__admin__/plugins/layer/layer.min.js"></script>
    <script type="text/javascript" src="__admin__/js/global.js"></script>
    <script type="text/javascript" src="__admin__/plugins/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__admin__/plugins/js/jquery.uploadify.js"></script>
     <link href="__admin__/js/laydate.js" type="text/javascript">
    
     <script type="text/javascript" src="__admin__/js/laydate.dev.js"></script>

</head>
<body>
