<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后台管理中心</title>
    <meta name="Copyright" content="Douco Design." />
    <link href="__admin__/css/public.css" rel="stylesheet" type="text/css">
    <link href="__admin__/css/laydate.css" rel="stylesheet" type="text/css">
    <link href="__admin__/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="__admin__/plugins/uploadify/css/uploadify.css" rel="stylesheet" type="text/css">
  
    <!--<link href="__PLUGINS__/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <!--<link href="__PLUGINS__/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">-->
    <script type="text/javascript" src="__admin__/plugins/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="__admin__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__admin__/plugins/layer/layer.min.js"></script>
    <script type="text/javascript" src="__admin__/js/global.js"></script>
    <script type="text/javascript" src="__admin__/js/laydate.js"></script>
    <script type="text/javascript" src="__admin__/js/laydate.dev.js"></script>
<style>
 .pagelist {padding:10px 0; text-align:center;}
.pagelist span,.pagelist a{ border-radius:3px; border:1px solid #dfdfdf;display:inline-block; padding:5px 12px;}
.pagelist a{ margin:0 3px;}
.pagelist span.current{ background:#09F; color:#FFF; border-color:#09F; margin:0 2px;}
.pagelist a:hover{background:#09F; color:#FFF; border-color:#09F; }
.pagelist label{ padding-left:15px; color:#999;}
.pagelist label b{color:red; font-weight:normal; margin:0 3px;}
</style>
</head>
<body>
