<div id="dcLeft">
    <div id="menu">
        <ul class="top">
            <li><a href="{:url('Index/index')}"><i class="home"></i><em>管理首页</em></a></li>
        </ul>
        <ul>
            <li><a href="{:url('System/index')}"><i class="system"></i><em>系统设置</em></a></li>
            <li><a href="{:url('System/index')}"><i class="system"></i><em>公告管理</em></a></li>
        </ul>
        <ul>
            <li><a href="{:url('User/userList')}"><i class="user"></i><em>用户列表</em></a></li>
            <li><a href="{:url('Merchant/category')}"><i class="nav"></i><em>权限管理</em></a></li>
        </ul>
        <ul>
            <li><a href="{:url('Article/articleList')}"><i class="productCat"></i><em>作品列表</em></a></li>
            <li><a href="{:url('GoodsCats/category')}"><i class="productCat"></i><em>作品分类</em></a></li>
            <li><a href="{:url('Type/index')}"><i class="nav"></i><em>作品审核</em></a></li>
        </ul>
        <ul>
            <li><a href="{:url('User/index')}"><i class="user"></i><em>会员列表</em></a></li>
            <li><a href="{:url('User/withdrawlogs')}"><i class="order"></i><em>会员评论</em></a></li>
        </ul>
        <ul>
            <li><a href="{:url('User/jiaozilist')}"><i class="user"></i><em>交流空间管理</em></a></li>
        </ul>
        <ul>
            <li><a href="{:url('User/jiaozilist')}"><i class="user"></i><em>数据备份</em></a></li>
            <li><a href="{:url('User/jiaozilist')}"><i class="user"></i><em>系统日志</em></a></li>
            <li><a href="{:url('User/jiaozilist')}"><i class="user"></i><em>数据统计</em></a></li>
        </ul>
        <!--<ul>-->
            <!--<li><a href="article_category.html"><i class="articleCat"></i><em>文章分类</em></a></li>-->
            <!--<li><a href="article.html"><i class="article"></i><em>文章列表</em></a></li>-->
        <!--</ul>-->
        <!--<ul class="bot">-->
            <!--<li><a href="backup.html"><i class="backup"></i><em>数据备份</em></a></li>-->
            <!--<li><a href="mobile.html"><i class="mobile"></i><em>手机版</em></a></li>-->
            <!--<li><a href="theme.html"><i class="theme"></i><em>设置模板</em></a></li>-->
            <!--<li><a href="manager.html"><i class="manager"></i><em>网站管理员</em></a></li>-->
            <!--<li><a href="manager.php?rec=manager_log"><i class="managerLog"></i><em>操作记录</em></a></li>-->
        <!--</ul>-->
    </div>
</div>