<div id="dcWrap"> <div id="dcHead">
    <div id="head">
        <div class="logo"><a href="index.html"><img src="__admin__/images/dclogo.gif" alt="logo"></a></div>
        <div class="nav">
            <ul>
                <li class="M"><a href="JavaScript:void(0);" class="topAdd">添加</a>
                    <div class="drop mTopad"><a href="{:url('Article/addArticle')}">作品</a> <a href="{:url('User/addUser')}">用户</a> <a href="{:url('Members/addMember')}">会员</a> <a href="{:url('Notice/addNotice')}">公告</a> <a href="{:url('Cats/addCategory')}">分类</a> <a href="{:url('Columns/addColumn')}">模块</a></div>
                </li>
                <li><a href="/" target="_blank">查看站点</a></li>
                <li><a href="{:url('System/clear_cache')}">清除缓存</a></li>
                <li><a href="JavaScript:;" target="_blank">帮助</a></li>
                <li class="noRight"><a href="#">Hqiot</a></li>
            </ul>
            <ul class="navRight">
                <li class="M noLeft"><a href="JavaScript:void(0);">您好，{$admin_name}</a>
                    <div class="drop mUser">
                        <a href="JavaScript:;">编辑我的个人资料</a>
                        <a href="JavaScript:;">设置云账户</a>
                    </div>
                </li>
                <li class="noRight Sign-out"><a href="{:url('Login/logout')}">退出</a></li>
            </ul>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>