
<div id="dcMain">
     <div id="urHere">后台管理中心<b>></b><strong>编辑会员</strong> </div>
     <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
         <h3><a href="{:url('Members/index')}" class="actionBtn">会员列表</a>编辑会员</h3>
          <form id="formeditMember" enctype="multipart/form-data">
               <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                   <tr>
                      <td width="90" align="right">会员名称</td>
                      <td><input type="text" name="mname" value="{$memberData['mname']}" size="30" class="inpMain" /></td>
                   </tr>
                   <tr>
                      <td width="90" align="right">会员头像</td>
                      <td>
                          <div id="file_upload_image"><img id="upload_org_code_img" width="80px" height="80px" style="margin-bottom: 10px;" src="{$memberData['headpic']}" /></div>
                          <input type="hidden" name="showpic" value="{$memberData['headpic']}" />
                          <div class="uploadify">
                                <input id="uploadify" type="file" multiple="true" value="" class='uploadify-button' />
                                <a href="javascript:$('#uploadify').uploadify('upload')" >现在上传</a> |
                                <a href="javascript:$('#uploadify').uploadify('cancel')" >取消上传</a> 
                                <span style="color: red;margin-left: 20px">支持.gif .jpg .png图像格式，文件大小不能超过2M</span>
                          </div>
                          <div id="displayMsg"></div>
                      </td>
                   </tr>
                   <tr>
                       <td width="90" align="right">会员邮箱</td>
                       <td><input type="text" name="email" value="{$memberData['email']}" size="40" class="inpMain" /><span style="color: red;margin-left: 20px"></span></td>
                   </tr>
                    <tr>
                       <td width="90" align="right">会员密码</td>
                       <td><input type="password" name="pass" value="{$memberData['pass']}" size="40" class="inpMain" /><span style="color: red;margin-left: 20px"></span></td>
                   </tr>
                    <tr>
                       <td width="90" align="right">确认密码</td>
                       <td><input type="password" name="confirm_pass" value="{$memberData['pass']}" size="40" class="inpMain" /><span style="color: red;margin-left: 20px"></span></td>
                   </tr>
                   <tr>
                       <td align="right">会员状态</td>
                       <td>
                             <select name="status">
                                <option value="1" {if condition="$memberData['status'] eq 1"}selected=selected{/if}>正常</option>
                                <option value="0" {if condition="$memberData['status'] eq 0"}selected=selected{/if}>锁定</option>
                              </select>
                       </td>
                   </tr>
                   <tr>
                       <td></td>
                       <td>
                           <input type="hidden" name="token" value="21307217" />
                           <input type="hidden" name="mid" value="{$memberData['mid']}">
                           <input type="hidden" name="imgUrl" value="" />
                           <input name="submit" class="btn" type="submit" value="提交" />
                       </td>
                   </tr>
               </table>
          </form>
     </div>
</div>
        <!--引入js-->
        <script type="text/javascript" src="__admin__/plugins/jquery-1.8.3.min.js"></script>
        <script src="__admin__/plugins/layer/layer.min.js"></script>
        {load href="__admin__/plugins/uploadify/js/jquery.uploadify.min.js" /} 
        <!-- <script type="text/javascript" src="__admin__/js/swfobject.js"></script>  -->
        <script type="text/javascript">
            $(function(){
                $("#formeditMember").submit(function(){
                           var datas = $("#formeditMember").serialize();
                           $.post('{:url("Members/editMember")}',datas,function(data){
                               if (data.status) {
                                   layer.msg(data.msg, {icon: 1,time: 1500},function(){
                                       window.location.href = data.url;
                                   });
                               }else {
                                   layer.msg(data.msg, {icon: 2,time: 1500});
                               }

                           },'json');
                           //阻止表单刷新提
                           return false;
                });
            });
            
            $(function(){
                    //swfobject.embedSWF('__admin__/plugins/uploadify/swf/uploadify.swf', "sd_file", "120", "30", "#666");
                    $("#uploadify").uploadify({
                        'swf'           :  '__admin__/plugins/uploadify/swf/uploadify.swf',
                        'uploader'        : '{:url("api/Image/upload")}',
                        'buttonText'      : '选择头像',  
                        'fileTypeDesc'    : '请选择图像',  
                        'fileTypeExts'    : '*.gif; *.jpg; *.png',     
                        'fileObjName'     : 'file',
                        'width'           : 80,
                        'height'          : 25,
                        'auto'            : false,
                        'method'          : 'Post',
                        'wmode'           : 'transparent',
                        'formData'       : {
				'urlfrom' : 'Member',
                        },
                        'onUploadSuccess' : function(file,data,response) {  
                         if(response){ 
                                var obj =JSON.parse(data);
                                $("#upload_org_code_img").attr("src",obj.src);  
                                $("#file_upload_image").attr("value",obj.src);
                                $("input[name='imgUrl']").attr("value",obj.src)
                                $("input[name='showpic']").attr("value",'')
                                $("#upload_org_code_img").show();  
                            } 
                        }
                    });     
            });  
        </script>
