
<div id="dcMain">
     <div id="urHere">管理中心<b>></b><strong>权限管理</strong> </div>
     <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
         <h3><a href="{:url('Power/addRole')}" class="actionBtn add">添加角色</a>权限管理</h3>
          <div id="list">
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                 <tr>
                      <th width="20" align="left">角色ID</th>
                      <th width="50" align="left">角色名称</th>
                      <th width="260" align="left">赋权栏目</th>
                      <th width="80" align="center">操作</th>
                 </tr>
                 {volist name="powerlistData" id="vo" key="k"}
                    <tr>
                         <td align="left">{$vo.id}</td>
                         <td align="left">{$vo.name}</td>
                         <td align="left">{$vo['cname']}</td>
                         <td align="center">
                             <a href="{:url('Power/editPower',['id' => $vo['id']])}" class="tab_a_link edit_btn">编辑</a>
                             <a class="tab_a_link del_btn btn-danger-a" href="javascript:;" id="{$vo.id}"><i class="fa fa-share-square-o">删除</i></a>
                         </td>
                    </tr>
                  {/volist}
                </table>
        </div>
     </div>
</div>
        <!--引入js-->
        <script type="text/javascript" src="__admin__/plugins/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="__admin__/plugins/js/jquery.uploadify.js"></script>
        <script src="__admin__/plugins/layer/layer.min.js"></script>
        <script type="text/javascript">   
            $(function(){
                $('.btn-danger-a').on('click',function(){
                    var del =  confirm('确认要删除么？');
                    if (del) {
                        var id =$(this).attr('id');
                        $.post('{:url("Power/delPower")}',{id : id}, function(data){
                           if (data.status) {
                                layer.msg(data.msg, {icon: 1,time: 1500},function(){
                                    window.location.reload();
                                });
                            }else {
                                layer.msg(data.msg,{icon : 2,time : 2000});
                            }

                        },'json');
                    }

                });
            });
        </script>
