 <!-- footer
   ================================================== -->
   <footer>

   	<div class="footer-main">

   		<div class="row">  

	      	<div class="col-four tab-full mob-full footer-info">            

	            <h4>关于我们</h4>

	               <p>
		         {$description} 	
		       </p>

		      </div> <!-- end footer-info -->

	      	<div class="col-two tab-1-3 mob-1-2 site-links">

	      		<h4>网站栏目</h4>

	      		<ul>
                                {volist name="lanmuData" id="vo"}
                                    <li><a href="{$rootUrl}/{$vo['link']}" title="">{$vo['lname']}</a></li>
                                {/volist}
                        </ul>

	      	</div> <!-- end site-links -->  

	      	<div class="col-two tab-1-3 mob-1-2 social-links">

	      		<h4>友情链接</h4>

	      		<ul>
                            {volist name="linkData" id="vo" key="k"}    
                            <li><a href="http://{$linkData[$k-1][0]}"><img src="{$linkData[$k-1][1]}" width="115px" height="28px"/></a></li>
                            {/volist}
                        </ul>
	      	           	
	      	</div> <!-- end social links --> 

	      	<div class="col-four tab-1-3 mob-full footer-subscribe">

	      		<h4>问题反馈</h4>

	      		<p>如果您对本网站有什么看法，或是有什么好的建议，请在这与我们联系。</p>

	      		<div class="subscribe-form">
	      	
	      			<form id="mc-form" class="group" novalidate="true">

							<input type="email" value="" name="dEmail" class="email" id="mc-email" placeholder="完成输入后，直接回车即可提交" required=""> 
	   		
			   			<input type="submit" name="subscribe" >
		   	
		   				<label for="mc-email" class="subscribe-message"></label>
                                                
                                                <input type="hidden" name="mid" value="{$mid}" >
			
						</form>

	      		</div>	      		
	      	           	
	      	</div> <!-- end subscribe -->         

	      </div> <!-- end row -->

   	</div> <!-- end footer-main -->

      <div class="footer-bottom">
      	<div class="row">

      		<div class="col-twelve">
	      		<div class="copyright">
		         	<span>© Copyright Abstract styleshout 2016</span> 
		         	<span>宁夏华嵌智能物联网技术有限公司</span>		         	
		         </div>

		         <div id="go-top">
		            <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
		         </div>         
	      	</div>

      	</div> 
      </div> <!-- end footer-bottom -->  

   </footer>  

   <div id="preloader"> 
    	<div id="loader"></div>
   </div> 

   <!-- Java Script
   ================================================== --> 
   <script src="__home__/js/jquery-2.1.3.min.js"></script>
   <script src="__home__/js/plugins.js"></script>
   <script src="__home__/js/jquery.appear.js"></script>
   <script src="__home__/js/main.js"></script>
   <script type="text/javascript">
       var UserRegisterUrl = "{:url('Register/index')}";
       var UserLoginUrl = "{:url('Login/index')}";
       var UserReplyUrl = "{:url('Reply/index')}"; 
       var UserReply2Url = "{:url('Reply2/index')}";
         $(function(){
             $('.register').on('click',function(){
                 layer.open({  
                     type: 2,  
                     title: '会员注册',  
                     maxmin: true,  
                     skin: 'layui-layer-lan',  
                     shadeClose: true, //点击遮罩关闭层  
                     area : ['400px' , '380px'],  
                     content:UserRegisterUrl//弹框显示的url  
                 }); 
             });
         });

         $(function(){
             $('.login').on('click',function(){
                 layer.open({  
                     type: 2,  
                     title: '会员登陆',  
                     maxmin: true,  
                     skin: 'layui-layer-lan',  
                     shadeClose: true, //点击遮罩关闭层  
                     area : ['410px' , '220px'],  
                     content:UserLoginUrl//弹框显示的url  
                 }); 
             });
         });
         
        $(function(){
             $('.reply').on('click',function(){
                 var mname = $(this).attr('value');
                 var mid = $(this).attr('mid');
                 var cid = $(this).attr('cid');
                 layer.open({  
                     type: 2,  
                     title: '@&nbsp;'+mname+'&nbsp;的评论',  
                     maxmin: true,  
                     skin: 'layui-layer-lan',  
                     shadeClose: true, //点击遮罩关闭层  
                     area : ['400px' , '280px'],  
                     content:UserReplyUrl+'?mid='+mid+'&cid='+cid //弹框显示的url  
                 }); 
             });
         });
         
         $(function(){
             $('.reply2').on('click',function(){
                 var mname = $(this).attr('value');
                 var mid = $(this).attr('mid');
                 var cid = $(this).attr('cid');
                 var rid = $(this).attr('rid');
                 layer.open({  
                     type: 2,  
                     title: '@&nbsp;'+mname+'&nbsp;的回复',  
                     maxmin: true,  
                     skin: 'layui-layer-lan',  
                     shadeClose: true, //点击遮罩关闭层  
                     area : ['400px' , '280px'],  
                     content:UserReply2Url+'?mid='+mid+'&cid='+cid+'&rid='+rid //弹框显示的url  
                 }); 
             });
         });
         
        $(function(){
                $('.logout').on('click',function(){
                    var mid =$('input[name="mid"]').val();
                    layer.confirm('您确定要退出网站吗？', {
                        btn: ['退出','再看看'] //按钮
                      }, function(){
                         $.post('{:url("Login/logout")}',{mid: mid}, function(data){
                               if (data.status) {
                                    layer.msg(data.msg, {icon: 1,time: 1500},function(){
                                    window.location.reload();
                                  });
                                }else {
                                    layer.msg(data.msg,{icon : 2,time : 2000});
                               }
                         },'json');
                      }, function(){
                         //什么也不做
                      });
                });  
            });
        
   </script>
</body>
</html>