<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>{$webname[0]}</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="__home__/css/base.css">
   <link rel="stylesheet" href="__home__/css/vendor.css">  
   <link rel="stylesheet" href="__home__/css/main.css">
   <link rel="stylesheet" href="__home__/css/public.css">
   <link rel="stylesheet" href="__home__/css/zan.css">
        

   <!-- script
   ================================================== -->
	<script src="__home__/js/modernizr.js"></script>
	<script src="__home__/js/pace.min.js"></script>
        <script type="text/javascript" src="__home__/plugins/jquery-1.8.3.min.js"></script>
        <script src="__home__/plugins/layer/layer.min.js"></script>
        

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header class="short-header">   

   	<div class="gradient-block"></div>	

   	<div class="row header-content">

   		<div class="logo">
	         <a href='{:url("Index/index")}'>Author</a>
	      </div>

	   	<nav id="main-nav-wrap">
				<ul class="main-navigation sf-menu">
					<li class="current"><a href='{:url("Index/index")}' title="">首页</a></li>	
                                        {volist name="lanmuData" id="vo"}
					<li class="has-children">
						<a href="{$rootUrl}/{$vo['link']}" title="">{$vo['lname']}</a>
                                                <ul class="sub-menu">                       
                                                    <?php
                                                    $data = array_merge($vo['_data']);  //数组重新排列下标
                                                        for($i=0;$i<count($data);$i++){
                                                            $linkurl = $rootUrl.$data[$i]["link"];
                                                            echo '<li><a href='.$linkurl.'>'.$data[$i]["lname"].'</a></li>';
                                                        }
                                                    ?>
                                                </ul>
					</li>
                                        {/volist}
				</ul>
                </nav> <!-- end main-nav-wrap -->

			<div class="search-wrap">
				
				<form role="search" method="get" class="search-form" action="{:url('Search/index')}">
					<label>
						<span class="hide-content">立即搜索：</span>
						<input type="search" class="search-field" name="keywords" title="搜索：" autocomplete="off">
					</label>
					<input type="submit" class="search-submit" value="Search">
				</form>

				<a href="#" id="close-search" class="close-btn">Close</a>

			</div> <!-- end search wrap -->	
			<div class="triggers">
				<a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
				<a class="menu-toggle" href="#"><span>Menu</span></a> &nbsp; 
                                {if condition="$mid eq ''"}<a class="register" href="javascript:;"><span>注册<span></a> | <a href="javascript:;" class="login"><span>登陆</span></a>
                                {else /}
                                <span style="font-size:14px;">Hi，<img width="30" height="30" class="avatar" src="{$headpic}" alt="" style="border-radius:50%;-webkit-border-radius:50%;-moz-border-radius:50%;">
                                    &nbsp;{$mname}&nbsp;，欢迎登陆！&nbsp;<a href="javascript:;" class="logout">注销</a></span>
                                {/if}
			</div> <!-- end triggers -->
   		
   	</div>     		
   	
   </header> <!-- end header -->