
<div id="dcMain">
     <div id="urHere">管理中心<b>></b><strong>系统设置</strong> </div>
     <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
         <h3><a href="{:url('System/index')}" class="actionBtn">清空设置</a>系统设置</h3>
          <form id="formaddSystem"   enctype="multipart/form-data">
               <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                   <tr>
                       <td width="120" align="right">站点名称</td>
                       <td><input type="text" name="webname" size="30" class="inpMain" value="{if condition="isset($systemData['webname'])"}{$systemData['webname']}{/if}"/></td>
                   </tr>
                   <tr>
                       <td width="10" align="right">站点域名</td>
                       <td><input type="text" name="com" size="30" class="inpMain" value="{if condition="isset($systemData['com'])"}{$systemData['com']}{/if}"/></td>
                   </tr>
                   <tr>
                       <td width="120" align="right">站点标题(Title)</td>
                       <td><input type="text" name="web_title" size="45" class="inpMain" value="{if condition="isset($systemData['web_title'])"}{$systemData['web_title']}{/if}"/></td>
                   </tr>
                   <tr>
                       <td width="120" align="right">站点描述(Descrition)</td>
                       <td><textarea name="web_description" rows="5" cols="50" class="inpMain">{if condition="isset($systemData['web_description'])"}{$systemData['web_description']}{/if}</textarea></td>
                   </tr>
                   <tr>
                       <td width="120" align="right">是否开启评论审核</td>
                       <td><select name="opencomments" id="commentsOn">
                            {if condition="$systemData['opencomments'] eq 1"}<option value="1" checked="checked">开启</option>
                            <option value="0">不开启</option>
                            {/if}
                            {if condition="$systemData['opencomments'] eq 0"}<option value="0" checked="checked">不开启</option>
                            <option value="1">开启</option>
                            {/if}
                           </select>
                       <span style="color: red;margin-left: 20px">默认为开启</span></td>
                   </tr>
                   <tr>
                      <td width="120" align="right">屏蔽词汇</td>
                      <td>
                          <textarea name="senswords" rows="5" cols="50" class="inpMain">{if condition="isset($systemData['senswords'])"}{$systemData['senswords']}{/if}</textarea>
                          <span style="color: red;margin-left: 20px">词汇间用"|"分隔</span>
                      </td>
                   </tr>
                   <tr>
                      <td width="120" align="right" >ip黑名单</td>
                      <td>
                          <textarea name="filterIp" id='filterIp' rows="5" cols="30" class="inpMain">{if condition="isset($systemData['filterips'])"}{$systemData['filterips']}{/if}</textarea>
                          <span style="color: red;margin-left: 20px">ip间用"|"分隔</span>
                      </td>
                   </tr>
                   <tr>
                       <td width="120" align="right">首页幻灯片设置</td>
                       <td>
                          {volist name="hdarray" id="vo" key="k"}
                          <div id="file_upload_image{$k-1}" style="margin-bottom: 15px"><img id="upload_org_code_img{$k-1}" class="img" width="80px" height="80px" src="{$vo[3]}" style="{$vo[3] !== 'null'?'':'display:none;'}margin-top: 15px;" /></div>
                                <div class="uploadify{$k-1}" style="border-bottom: 1px dotted #778899">
                                <input class="uploadify" id="uploadify{$k-1}" type="file" multiple="true" value="" class='uploadify-button' />
                                <div style="margin-bottom:15px"><a href="javascript:$('#uploadify{$k-1}').uploadify('upload')" >现在上传</a> |
                                    <a href="javascript:$('#uploadify{$k-1}').uploadify('cancel')" >取消上传</a>
                                <span style="color: red;margin-left: 20px">支持.gif .jpg .png图像格式，单张图片大小不能超过2M</span></div>
                                <div style="margin-bottom:5px;">标题：<input type="text" name="linktitle{$k-1}" value="{$vo[1]}" size="50" class="inpMain" style="border-bottom: 1px dotted #C4C4C4;"/></div>
                                <div style="margin-bottom:5px;">链接：<input type="text" name="linkurl{$k-1}" value="<?php $predis = new \Predis\Client(); $sid = $predis->hget('hd:'.($k-1),'sid'); $aid = $predis->hget('hd:'.($k-1),'aid'); if($aid == '')echo '';else echo substr($alinkUrl,0,-5).'/aid/'.$aid.'.html'; if($sid == '')echo '';else echo substr($slinkUrl,0,-5).'/id/'.$sid.'.html'; ?>" size="40" class="inpMain" style="border-bottom: 1px dotted #C4C4C4;"/>
                                    &nbsp;<input style="width: 20px;height: 20px;" type="radio" class="radio" name="autolink" size="5" class="idDisplay" value="article" hid="{$k-1}"/>选择作品自动生成链接
                                    &nbsp;<input style="width: 20px;height: 20px;" type="radio" class="radio" name="autolink" size="5" class="idDisplay" value="single" hid="{$k-1}"/>选择单页自动生成链接
                                </div>
                                <div style="margin-bottom:5px;">时间：<input type="text" name="linkdate{$k-1}" value="{$vo[2]}" size="20" class="inpMain" style="border-bottom: 1px dotted #C4C4C4;"/></div>
                                </div>
                           {/volist}
                          <div id="displayMsg"></div>
                      </td>
                   </tr>
                   <tr>
                       <td width="120" align="right">友情链接</td>
                       <td><!-- <div id="file_upload_logo"><img id="upload_org_code_logo" style="display: none;margin-bottom: 10px;" /></div>
                          <div class="uploadifylogo">
                                <input id="uploadifylogo" type="file" multiple="true" value="" />
                          </div>网址：<input type="text" name="link" size="40" class="inpMain" style="border-bottom: 1px dotted #778899;"/>&nbsp;  -->
                        <table>
                            <tr>
                                {volist name="linkarray" id="vo" key="k"}
                                        <div style="float:left;margin-left:5px;border-right: 1px dotted #C4C4C4;width:310px;">
                                            <div id="file_upload_logo{$k-1}"><img id="upload_org_code_logo{$k-1}" src="{$vo[1]}" width="150px" height="50px" style="margin-bottom: 10px;" /></div>
                                            <div class="uploadifylogo{$k-1}"><input class="uploadifylogo" id="uploadifylogo{$k-1}" type="file" multiple="true" value="" /></div>
                                            网址：<input type="text" name="linktxt{$k-1}" value="{$vo[0]}" size="40" class="inpMain" style="border-bottom: 1px dotted #C4C4C4;"/>
                                            <div class="close" value="{$vo[0]}" style='float:right;margin-top:-125px;margin-right:10px;'><a href="javascript:;" value="{$systemData['id']}|{$k-1}|{$vo[0]},{$vo[1]}" style="color:red">×清空</a></div>
                                        </div>
                                {/volist}
                            </tr>
                        </table>
                       <td>
                   </tr>
                   <tr>
                       <td></td>
                       <td>
                           <input type="hidden" name="isup" value="<?php if(isset($systemData['id'])) echo $systemData['id']; ?>" />
                           {volist name="hdarray" id="vo" key="k"}
                           <input type="hidden" name="imgUrl{$k-1}" value="{$vo[3]}" />
                           {/volist}
                           {volist name="linkarray" id="vo" key="k"}
                           <input type="hidden" name="linkimg{$k-1}" value={$vo[1]} />
                           {/volist}
                           <input name="submit" class="btn" type="submit" value="提交" />
                       </td>
                   </tr>
               </table>
          </form>
     </div>
</div>
        <!--引入js-->
        <script type="text/javascript" src="__admin__/plugins/jquery-1.8.3.min.js"></script>
        {load href="__admin__/plugins/uploadify/js/jquery.uploadify.min.js" /} 
        <script src="__admin__/plugins/layer/layer.min.js"></script>
        <script type="text/javascript">

            $(function(){
                $("#formaddSystem").submit(function(){
                    var datas = $("#formaddSystem").serialize();                
                    //layer.msg(datas, {icon: 2,time: 50000});
                    $.post('{:url("System/index")}',datas,function(data){
                        if (data.status) {
                            layer.msg(data.msg, {icon: 1,time: 1500},function(){
                                window.location.href = data.url;
                            });
                        }else {
                            layer.msg(data.msg, {icon: 2,time: 1500});
                        }
                    },'json');
                    //阻止表单刷新提交
                    return false;
                }); 
         }); 
        
        $(function(){
                    //swfobject.embedSWF('__admin__/plugins/uploadify/swf/uploadify.swf', "sd_file", "120", "30", "#666");
                    $(".uploadify").each(function(i) { 
                        $(this).uploadify({                            //多按钮上传幻灯片
                            'swf'           :  '__admin__/plugins/uploadify/swf/uploadify.swf',
                            'uploader'        : '{:url("api/Image/upload")}',
                            'buttonText'      : '第'+(i+1)+'张图片',  
                            'fileTypeDesc'    : '请选择幻灯图片',  
                            'fileTypeExts'    : '*.gif; *.jpg; *.png',     
                            'fileObjName'     : 'file',
                            'width'           : 80,
                            'height'          : 25,
                            'auto'            : false,
                            'method'          : 'Post',
                            'wmode'           : 'transparent',
                            'multi'          : false,
                            'formData'       : {
                                    'urlfrom' : 'Huandeng',
                            },
                            'onUploadSuccess' : function(file,data,response) {  
                             if(response){ 
                                    var obj =JSON.parse(data);
                                    $('#upload_org_code_img'+i).attr("src",obj.src);  
                                    $('#file_upload_image'+i).attr("value",obj.src);
                                    $('input[name=imgUrl'+i+']').val(obj.src);
                                    $('#upload_org_code_img'+i).show();  
                                } 
                            }
                        }); 
                    });
            });
            
            $(function(){
                $('.img').on('click',function(){
                   var popimg = $(this)[0].src;
                   layer.open({
                        type: 1,
                        title: false,
                        closeBtn: 0,
                        area: '500px',
                        skin: 'layui-layer-nobg', //没有背景色
                        shadeClose: true,
                        content: "<img src="+popimg+" />"
                      });
                });
            });
            
            $(function(){
                $(".uploadifylogo").each(function(i) {      //多按钮上传logo
                    $(this).uploadify({
                        'swf'           :  '__admin__/plugins/uploadify/swf/uploadify.swf',
                        'uploader'        : '{:url("api/Image/upload")}',
                        'buttonText'      : '上传logo',  
                        'fileTypeDesc'    : '请选择logo',  
                        'fileTypeExts'    : '*.gif; *.jpg; *.png',     
                        'fileObjName'     : 'file',
                        'width'           : 80,
                        'height'          : 25,
                        'auto'            : true,
                        'method'          : 'Post',
                        'wmode'           : 'transparent',
                        'multi'          : false,
                        'formData'       : {
				'urlfrom' : 'Logo',
                        },
                        'onUploadSuccess' : function(file,data,response) {  
                         if(response){ 
                                var obj =JSON.parse(data);
                                $('#upload_org_code_logo'+i).attr("src",obj.src);  
                                $('#file_upload_logo'+i).attr("value",obj.src);
                                $('input[name=linkimg'+i+']').val(obj.src);
                                $('#upload_org_code_logo'+i).show();  
                            } 
                        }
                    });
                    
                });
            });
            
            $(function(){
                $('.close').children('a').click(function(){
                    var del =  confirm('确认要清空此项么？');
                    if(del){
                        var link = $(this).attr("value");
                        //alert(link);exit();
                        $.post('{:url("System/delLink")}',{'link':link},function(data){
                            if (data.status) {
                                layer.msg(data.msg, {icon: 1,time: 1500},function(){
                                    window.location.reload();
                                });
                            }else {
                                layer.msg(data.msg, {icon: 2,time: 50000});
                            }

                        },'json');
                    };
                 });
            });
            
            $(function(){
               $('.radio').on('click',function(){
                   var type = $(this).attr('value');
                   var hid = $(this).attr('hid');
                   var articleUrl = "{:url('System/selSingelorArticle')}?type=article&hid="+hid;
                   var singleUrl = "{:url('System/selSingelorArticle')}?type=single&hid="+hid;
                   if( type=='article' ){
                        layer.open({  
                            type: 2,  
                            title: '选择文章',  
                            maxmin: true,  
                            skin: 'layui-layer-lan',  
                            shadeClose: true, //点击遮罩关闭层  
                            area : ['400px' , '380px'],  
                            content:articleUrl
                        }); 
                   }
                   else if( type='single' ){
                        layer.open({  
                            type: 2,  
                            title: '选择单页',  
                            maxmin: true,  
                            skin: 'layui-layer-lan',  
                            shadeClose: true, //点击遮罩关闭层  
                            area : ['400px' , '380px'],  
                            content:singleUrl
                        }); 
                   }
               })
            });
        </script>
