{__NOLAYOUT__}
<!DOCTYPE html>
<head>
<title>选择文章</title>
<link rel="stylesheet" href="__admin__/css/public.css">
<script type="text/javascript" src="__admin__/js/jquery.min.js"></script>
</head>
<body>
<div id="signup-modal">
   <!-- 当前位置 -->
    <div class="mainBox" style="height:auto!important;height:250px;min-height:250px;">
        <div id="list">
            <form id="formaction" method="post">
                <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                 <tr>
                      <th width="15%" align="center" style="font-weight:bold">选择</th>
                      <th width="10%" align="left" style="font-weight:bold">ID</th>
                      <th width="50%" align="left" style="font-weight:bold">标题</th>
                      <th width="25%" align="left" style="font-weight:bold">作者</th>
                 </tr>
                 {volist name='articleData' id='vo'}
                 <tr>
                      <td align="center"><input style="width: 20px;height: 20px;" type="radio" name="sel" class="idDisplay" value="{$vo['aid']}" /></td>
                      <td align="left">{$vo['aid']}</td>
                      <td align="left">{$vo['article_title']}</td>
                      <td align="left">{$vo['article_author']}</td>
                 </tr>
                 {/volist}
                </table>
                <div style="margin-top:10px;">
                    <input type="hidden" name="seltype" value="article" />
                    <input type="hidden" name="hid" value="{$hid}"/>
                    <input name="submit" class="btn" type="submit" value="生成链接" />
                </div>
           </form>
        </div>
    </div>
 </div>
     <!--引入js-->
        <script type="text/javascript" src="__admin__/plugins/jquery-1.8.3.min.js"></script> 
        <script src="__admin__/plugins/layer/layer.min.js"></script>
        <script type="text/javascript">
            $(function(){
                $("#formaction").submit(function(){
                    var datas = $("#formaction").serialize(); 
                    $.post('{:url("System/autolink")}',datas,function(data){
                        if (data.status) {
                            layer.msg(data.msg, {icon: 1,time: 1500});
                            window.parent.location.reload();
                        }else {
                            layer.msg(data.msg, {icon: 2,time: 1500});
                            window.parent.location.reload();
                        }
                    },'json');
                    //阻止表单刷新提交
                    return false;
                }); 
         });      
        </script>
</body>
</html>
